
<style type="text/css">
	body {
	  padding-top: 20px;
	  padding-bottom: 20px;
	}




	/* Customize container */
	@media (min-width: 768px) {
	  .container {
	    max-width: 730px;
	  }
	}
	

</style>
<!-- <a href="/Lingo/setting/">Setting</a> -->

<div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="/Lingo/logout/">Logout</a></li>
        </ul>
		<h1>Lingo</h1>
      </div>
      <hr>
	    <div class="col-lg-8" id="chat-content">
	    	<h3 id='chat-name' style='margin:0px;'></h3>
	      	<div class='well' style='height:400px;'>

	      	</div>
	      	<br>
	      	<textarea class="form-control" rows="3"></textarea>
	      	<hr>
	    </div>

	    <div class="col-lg-4 well">
	    	<ul class="nav nav-pills nav-stacked">
	    		{% for i in userProfile.friends.all %}
					  <li class="selectChat" receiver="{{ i.pk }}" name="{{i.name}}">
					    <a href="#chat-{{ i.user }}" data-toggle="tab">
					      <img src="{{MEDIA_URL}}{{i.user.picture}}" height="40px" width="40px">
					      {{ i.name }}
					    </a>
					  </li>
			  	{% endfor %}
			</ul>
	    </div>

      

    </div>



<script type="text/javascript">
	$('.selectChat').click(function(){
		$('#chat-name').html($(this).attr('name'))
	    // receiver = $(this).attr('receiver');
	    // receiver_name = $(this).attr('name')
	    // img = jQuery("img", this).attr('src');

	    // $('.img-title').attr('src',img);
	    // $('.name-title').text(receiver);
	    // $('#msg_notify-'+receiver).html("")
	    // var element = document.getElementById("chat-"+receiver)
	    // if (typeof(element) != 'undefined' && element != null) {
	    //   // update new msg to element
	    // }
	    // else{

	    //   var chat = document.createElement("div");
	    //   chatlist = document.createElement("div")
	    //   chat.setAttribute("class", "tab-pane fade");
	    //   chat.setAttribute("id","chat-"+receiver)
	    //   chatlist.setAttribute("class", "chatlist")
	    //   chatlist.setAttribute("id","chatlist-"+receiver)
	    //   chat.appendChild(chatlist)
	    //   $('#ChatTabContent').append(chat);

	    //   $.get('/restaurant/get_old_message', {'receiver':receiver}, function(data){
	    //     for (var i=0;i<data.length;i++){
	          
	    //       sender_name = data[i].fields.sender;
	    //       if (sender_name == receiver_name){

	    //           sender_img = $(".img-title").attr('src')

	    //       }
	    //       else{
	    //           sender_img = $("#user_img").attr('src');
	    //       }
	    //       createChatRow(sender_name, sender_img, data[i].fields.text);
	    //     }
	    //   })
	    // }
	  })
</script>


