{% extends 'lingue/base.html' %}
{% block content %}
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <form role="search">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
          </div>
          <button href="/Lingo/chat_list/" type="submit" class="btn btn-default">Submit</button>
        </form>
      </div>
      
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="http://rockyourcareer.files.wordpress.com/2012/11/george_blomgren_med-pic.jpg" style='height:200px;' alt="...">
          <div class="caption">
            <h3>Profile</h3>


            <hr>
            <dl>
              <dt>Username</dt>
              <dd>Feay</dd>
              <dt>Location</dt>
              <dd>Glasgow, G20 7SR</dd>
              <dt>Langauges <small><a href="">view all</a></small></dt>
              <dd>
                  <ul class="list-inline">
                    <li><span class="label label-primary">English</span></li>
                    <li><span class="label label-primary">German</span></li>
                    <li><span class="label label-primary">Chinese</span></li>
                  </ul>
              </dd> 
              <dt>Interests <small><a href="">view all</a></small></dt>
              <dd>
                  <ul class="list-inline">
                    <li><span class="label label-success">Football</span></li>
                    <li><span class="label label-success">Rock Music</span></li>
                    <li><span class="label label-success">Movie</span></li>
                    <li><span class="label label-success">Reading</span></li>
                    <li><span class="label label-success">Party</span></li>
                    <li><span class="label label-success">Cooking</span></li>
                  </ul>
              </dd> 
            </dl>
            <p><a href="/Lingo/chat_list/" class='btn btn-danger pull-right'>Edit Profile</a></p>
            <br>
            

          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-8">
        <div class = "thumbnail">
          <ul class="list-inline">
            <li><h3>Favorite Languists</h3></li>
            <li><a href="#" class="btn btn-primary btn-xs" role="button" >See More</a></li>
          </ul>
            
          <div class="row">
              <div class="col-xs-6 col-md-3">
                <div class="thumbnail">
                  <img src="http://web-images.chacha.com/images/facts-about-the-human-face1392523141-jun-26-2012-600x360.jpg">
                  <div class="caption">
                    <h3>Thumbnail label</h3>
                    <p>...</p>
                    <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                  </div>
                </div>
              </div>
              <div class="col-xs-6 col-md-3">
                <div class="thumbnail">
                  <img src="http://web-images.chacha.com/images/facts-about-the-human-face1392523141-jun-26-2012-600x360.jpg">
                  <div class="caption">
                    <h3>Thumbnail label</h3>
                    <p>...</p>
                    <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                  </div>
                </div>
              </div>
            <a href="friend.html" >view all</a>
          </div>
        </div>
      </div>
    </div>
{% endblock %}