{% extends 'linguo/base.html' %}
{% block content %}
<style type="text/css">

#content {
    top: 90px;
    right: 0;
    bottom: 0;
    overflow-y: hidden;
    max-width: 900px;
}
#messageContent {
    overflow: auto;
    height: 350px;
}




</style>

<div style="">

	<div id="chat_list"class="list-group col-md-3 visible-md visible-lg" style="margin-top:90px;">
		{% for i in userProfile.friends.all %}
			{% if i.name == talker %}
		  		<a href="#" class="list-group-item active talker" name="{{i.name}}">
			  		<span class="badge"></span>
					{{i.name}}
			  	</a>
			{% else %}
    			<a href="#" class="list-group-item" name="{{i.name}}">
    				{% if message_notification %}
			  		
			  			{% for j in message_notification %}
			  				{% if j.sender == i.id %}
			  					<span id="badge-{{i.id}}"class="badge">{{j.sender__count}}</span>
			  				{% endif %}
			  			{% endfor %}
			  		
			  		{% endif %}
					{{i.name}}
			  	</a>
			{% endif %}
	  	{% endfor %}
	</div>

	<div id="content" class="col-md-9" >
		<div id="messageContent" class="thumbnail">
			{% for i in message %}
		  	<div class="media thumbnail">
			  <a class="pull-left" href="#">
			    <img class="media-object" src="" style="height:50px; width:50px;">
			  </a>
			  	<div class="media-body">
				    <h4 class="media-heading">{{i.sender}}</h4>
				    <p>{{i.text}}</p>
				    <!-- {{i.datetime}} -->
				</div>
			</div>
			{% endfor %}
			
		</div>	
		<br>
		<div id="textInput">
			<textarea class="form-control" rows="3"></textarea>
		</div>

		
	</div>
</div>

<script type="text/javascript">

var objDiv = document.getElementById("messageContent");
objDiv.scrollTop = objDiv.scrollHeight;


(function poll(){
var talker = $(".talker").attr("name");
$.ajax({
    type: 'GET',
    url: '/linguo/get_new_message',
    data: {'talker':talker},
    success: function(data){     
    	// alert(data[0].sender__count)
    	// alert(data)
    	if( data[0].hasOwnProperty('sender__count') ){
    		notifyMessage(data);
    	}
    	else{
    		// alert("df")
    		createMessage(data);
    	}
        
    },
    error: function(){
    	// alert('failure');
  	},
    dataType: "json",
    complete: poll,
    timeout: 30000
})
})();


$(".list-group-item").click(function(){
	if($(this).attr("class") != "list-group-item active talker"){
		var $t = $(this);
		var receiver = $t.attr("name");
		$(".talker").attr("class", "list-group-item")
		$t.attr("class", "list-group-item active talker")
		$t.children().text("");
		$.get('/linguo/get_message', {'receiver': receiver}, function(data){
			clearChatContent();
			createMessage(data);
		})
	}
})

function clearChatContent(){
	$("#messageContent").empty();
}

function notifyMessage(data){
	for( var i = 0; i<data.length; i++){
		var old_count = $('#badge-'+data[i].sender).text();
		$('#badge-'+data[i].sender).text(data[i].sender__count+parseInt(old_count));
	}
}

$("textarea").keyup(function (e) {
	// have to show text before save text to database if not success show re-send button to user.
	// at this postition, you can tell receiver that sender is typing. should do.
	text = $(this).val();
	if (e.keyCode == 13 && text.length > 0) {
		
	  	receiver = $('.talker').attr("name");
	  	$(this).val("")
	  	$.get('/linguo/send_message',{'receiver':receiver, 'text':text}, function(data){
	  		createMessage(data);
	  	})
		
	  

	  
	}
});

function createMessage(data){
	for( var i = 0; i<data.length; i++){
		$("<div class='media thumbnail'>"+
			"<a class='pull-left'>"+
				"<img class='media-object' src='' style='height:50px; width:50px;'>"+
			"</a>"+
			"<div class='media-body'>"+
				"<h4 class='media-heading'>"+data[i].fields.sender+"</h4>"+
				"<p>"+data[i].fields.text+"</p>"+
			"</div>"+
			"</div>").appendTo($("#messageContent"));
		// var objDiv = document.getElementById("messageContent");s
		// objDiv.scrollTop = objDiv.scrollHeight;
	}
	objDiv.scrollTop = objDiv.scrollHeight;
	
}

//change NarBar
$(".selectedBar").attr("class", "navBar");
$(".chatBar").attr("class", "selectedBar active");



</script>

{% endblock %}
