{% extends 'linguo/base.html' %}
{% block content %}
<div class="row" style="padding-top:90px;">
  <div class="col-xs-6 col-sm-6 col-md-3">
    <div class="thumbnail">
      <img src="{{ STATIC_URL}}test.jpg" style='height:200px;' alt="...">
      <div class="caption">
        <h3>{{userProfile.name}}</h3>
        <dl>
          <dt>Location</dt>
          <dd>Glasgow</dd>
          <dt>Langauges </dt>
          <dd>
            <ul class="list-inline">
              {% for i in userProfile.languages.all %}
                <li><span class="label label-primary">{{i.name}}</span></li>
              {% endfor %}
            </ul>
          </dd> 
          <dt>Interests </dt>
          <dd>
            <ul class="list-inline">
              {% for i in userProfile.interests.all %}
                 <li><span class="label label-success">{{i.name}}</span></li>
              {% endfor %}
            </ul>
          </dd> 
        </dl>
        <button class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#myModal">Edit Profile</button>
        <br>
      </div>
    </div>
  </div>
  <div class="col-xs-6 col-sm-6 col-md-9" >
    
    {% if invitation %}

    <div id="requestAlarm" class="alert alert-info"><strong>Friend Requests! </strong> accept the request and start chatting.</div>
    <h3 id="requestText">New Requests</h3>
    <table id="requestTable" class="table table-hover">
      <tr>
      <th>Picture</th>
      <th>Name</th>
      <th>Languages</th>
      <th>Interests</th>
      <th>Action</th>
      </tr>
      {% for i in invitation %}
          <tr>
            <td>
              <img class="media-object" src="{{ STATIC_URL}}women.png" style="height:40px; width:40px;">
            </td>
            <td>
              {{i.sender.name}}
            </td>
            <td>
                <ul class="list-inline">
                  {% for j in i.sender.languages.all %}
                  <li><span class="label label-primary">{{j.name}}</span></li>
                  {% endfor %}
                </ul>
            </td> 
            <td>
                <ul class="list-inline">
                  {% for j in i.sender.interests.all %}
                  <li><span class="label label-success">{{j.name}}</span></li>
                  {% endfor %}
                </ul>
            </td>
            <td>
              <a href="#" class="acceptBtn btn btn-primary btn-block" name="{{i.sender}}">Accept</a>
            </td>
          </tr>
      {% endfor %}
    </table>
    <br>
    {% endif%}
    <h3>My Favorite Linguists</h3>

    <table class="table table-hover">
      <tr>
      <th>Picture</th>
      <th>Name</th>
      <th>Languages</th>
      <th>Interests</th>
      <th>Action</th>
      </tr>
      {% for i in userProfile.friends.all %}
          
          <tr>
            <td>
              <img class="media-object" src="{{ STATIC_URL}}women.png" style="height:40px; width:40px;">
            </td>
            <td>
              {{i.name}}
            </td>
            <td>
                <ul class="list-inline">
                  {% for j in i.languages.all %}
                  <li><span class="label label-primary">{{j.name}}</span></li>
                  {% endfor %}
                </ul>
            </td> 
            <td>
                <ul class="list-inline">
                  {% for j in i.interests.all %}
                  <li><span class="label label-success">{{j.name}}</span></li>
                  {% endfor %}
                </ul>
            </td>
            <td>

              <a  class="chatBtn btn btn-primary btn-block" role="button" name="{{i.name}}">Chat</a>
            </td>
          </tr>
      {% endfor %}
      
    </table>
      
  </div>
  <!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Edit Profile</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <fieldset>
            <div class="form-group">
              <label for="inputEmail" class="col-lg-2 control-label">Email</label>
              <div class="col-lg-10">
                <input class="form-control" id="disabledInput" type="text" placeholder="test@gmail.com" disabled>
              </div>
            </div>
          </fieldset>
        </form>
        <form class="form-horizontal">
          <fieldset>
            <div class="form-group">
              <label for="inputEmail" class="col-lg-2 control-label">Languages</label>
              <div class="col-lg-10">
                  <div class="input-group">
                    <input id="languageText" type="text" class="form-control" placeholder="Type language and click add">
                    <span class="input-group-btn">
                      <button id="languageAddBtn" class="btn btn-primary" type="button">Add</button>
                    </span>
                  </div>
                  <br>
                  <ul id="languageList" class="list-group">
                    {% for i in userProfile.languages.all %}
                      <li class="list-group-item languages">
                        <ul class="list-inline">
                          <li class="language">{{i.name}}</li>
                          <li class='pull-right'><button type="button" class="languageRemoveBtn btn btn-danger btn-xs">Delete</button></li>
                        </ul>
                      </li>
                    {% endfor %}
                  </ul>
              </div>
            </div>
          </fieldset>
        </form>
        <form class="form-horizontal">
          <fieldset>
            <div class="form-group">
              <label for="inputEmail" class="col-lg-2 control-label">Interests</label>
              <div class="col-lg-10">
                  <div class="input-group">
                    <input id="interestText" type="text" class="form-control" placeholder="Type your interest and click add">
                    <span class="input-group-btn">
                      <button id="interestAddBtn" class="btn btn-primary" type="button">Add</button>
                    </span>
                  </div>
                  <br>
                  <ul id="interestList" class="list-group">
                    {% for i in userProfile.interests.all %}
                      <li class="list-group-item interests">
                        <ul class="list-inline">
                          <li class='interest'>{{i.name}}</li>
                          <li class='pull-right'><button type="button" class="interestRemoveBtn btn btn-danger btn-xs">Delete</button></li>
                        </ul>
                      </li>

                    {% endfor %}
                  </ul>
              </div>
            </div>
          </fieldset>
        </form>
      </div>  
        
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</div>
<script type="text/javascript">

$( ".acceptBtn" ).click(function() {
  var $t = $(this);
  var sender = $t.attr('name');
    
  $.get('/linguo/accept_request',{'sender':sender}, function(data){
      $t.parent().parent().remove();
      var rowCount = $('#requestTable tr').length;
      if(rowCount == 1){
        $('#requestTable').remove();
        $('#requestText').remove();
        $('#requestAlarm').remove();
      }
      // automatically add new linguist to friend list
      var url = "/linguo/";
      window.location = url;
  })
  
});

$("#languageAddBtn").click(function(){
  var name = $("#languageText").val();
  var mode = "add_language";
  $("#languageText").val('');
  $.get('/linguo/add_profile',{'name':name, 'mode':mode}, function(data){
      $("#languageList").append("<li class='list-group-item languages'>"+
                        "<ul class='list-inline'>"+
                          "<li class='language'>"+name+"</li>"+
                          "<li class='pull-right'><button type='button' class='languageRemoveBtn2 btn btn-danger btn-xs'>Delete</button></li>"+
                       " </ul>"+
                      "</li>")
      $(".languageRemoveBtn2").click(function(){
        var name = $(this).parent().siblings(".language").text();
        var mode = "remove_language"
        var $t = $(this);
        $.get('/linguo/add_profile',{'name':name, 'mode':mode}, function(data){
            $t.parent().parent().parent().remove();
        })
      })
  })
});
$("#interestAddBtn").click(function(){
  var name = $("#interestText").val();
  var mode = "add_interest";
  $("#interestText").val('');
  $.get('/linguo/add_profile',{'name':name, 'mode':mode}, function(data){
      $("#interestList").append("<li class='list-group-item interests'>"+
                        "<ul class='list-inline'>"+
                          "<li class='interest'>"+name+"</li>"+
                          "<li class='pull-right'><button type='button' class='interestRemoveBtn2 btn btn-danger btn-xs'>Delete</button></li>"+
                       " </ul>"+
                      "</li>")
      $(".interestRemoveBtn2").click(function(){
        var name = $(this).parent().siblings(".interest").text();
        var mode = "remove_interest"
        var $t = $(this);
        $.get('/linguo/add_profile',{'name':name, 'mode':mode}, function(data){
            $t.parent().parent().parent().remove();
        })
      })

  })
});                        

$(".languageRemoveBtn").click(function(){
  var name = $(this).parent().siblings(".language").text();
  var mode = "remove_language"
  var $t = $(this);
  $.get('/linguo/add_profile',{'name':name, 'mode':mode}, function(data){
      $t.parent().parent().parent().remove();
  })
})

$(".interestRemoveBtn").click(function(){
  var name = $(this).parent().siblings(".interest").text();
  var mode = "remove_interest"
  var $t = $(this);
  $.get('/linguo/add_profile',{'name':name, 'mode':mode}, function(data){
      $t.parent().parent().parent().remove();
  })
})


$(".chatBtn").click(function() {
  var talker = $(this).attr("name");

  var safe_talker = encodeURIComponent(talker);
  var url = "/linguo/chat?talker=" + safe_talker;
  window.location = url;

})
$('#myModal').on('hide.bs.modal', function (e) {
  var url = "/linguo/";
  window.location = url;
})

</script>
{% endblock %}
