<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    

    <!-- Custom styles for this template -->

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="container" style='padding-top:5px;'>
        <div class="jumbotron">
          <h1>Would like to talk others ?</h1>
          <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
        </div>
        <form role="form" action='search_result.html'>
          <div class="form-group">
            <label for="exampleInputEmail1">Langauges</label>
            <select class="form-control">
              <option>English</option>
              <option>Thai</option>
              <option>German</option>
              <option>French</option>
              <option>Korean</option>
            </select>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Location</label>
            <input  class="form-control" id="exampleInputPassword1" placeholder="Location">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Interests</label>
            <select class="form-control">
              <option>Football</option>
              <option>Drink</option>
              <option>Party</option>
              <option>Books</option>
              <option>Movies</option>
            </select>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Radious</label>
            <input  class="form-control" id="exampleInputPassword1" placeholder="Radious">
          </div>
          <button type="submit" class="btn btn-primary btn-block">Search</button>
          <button type="submit" class="btn btn-success btn-block">Randomize</button>
        </form>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/holder/holder.js"></script>
  </body>
</html>