{% extends 'linguo/base.html' %}
{% load custom_template %}
{% block content %}
<div class="row" style="padding-top:90px;">
  <div class="col-xs-6 col-sm-6 col-md-3">
  <legend>Filter by languages</legend>
    <ul id="languageList" class="list-group">
      {% for i in userProfile.languages.all %}
        <li class="list-group-item languages">
          <ul class="list-inline">
            <li><input class="language" type="checkbox" checked name={{i.name}}>{{i.name}}</li>
          </ul>
        </li>
      {% endfor %}
    </ul>
    <legend>Filter by interests</legend>
    <ul id="interestList" class="list-group">
      {% for i in userProfile.interests.all %}
        <li class="list-group-item interests">
          <ul class="list-inline">
            <li><input class='interest' type="checkbox" checked>{{i.name}}</li>
          </ul>
        </li>
      {% endfor %}
    </ul>
    <button id="searchBtn" class="btn btn-block btn-primary">Search</button>
  </div>
  <div class="col-xs-6 col-sm-6 col-md-9" >
    <h3>Search Result</h3>
    <table class="table table-hover">
      <tr>
      <th>Picture</th>
      <th>Name</th>
      <th>Languages</th>
      <th>Interests</th>
      <th>Action</th>
      </tr>
      {% for i in another_user %}
          
          <tr>
            <td>
              <img class="media-object" src="{{ STATIC_URL}}women.png" style="height:40px; width:40px;">
            </td>
            <td>
              {{i.name}}
            </td>
            <td>
                <ul class="list-inline">
                  {% for j in i.languages.all %}
                  <li><span class="label label-primary">{{j.name}}</span></li>
                  {% endfor %}
                </ul>
            </td> 
            <td>
                <ul class="list-inline">
                  {% for j in i.interests.all %}
                  <li><span class="label label-success">{{j.name}}</span></li>
                  {% endfor %}
                </ul>
            </td>
            <td>
              {% if i|check_request:invitation %}
                <a class="addBtn btn btn-danger btn-block" name="{{i}}">Request</a>
              {% else %}
                <a class="addBtn btn btn-primary btn-block" name="{{i}}">Add</a>
              {% endif %}
            </td>
          </tr>
      {% endfor %}
      
    </table>   
  </div>
</div>

<script type="text/javascript">

$( ".addBtn" ).click(function() {
  var $t = $(this);
  var receiver = $t.attr('name');
  if( $t.text() == "Add"){
    
    $.get('/linguo/add_friend',{'receiver':receiver}, function(data){

      $t.attr('class', 'addBtn btn btn-danger btn-block');
      $t.text('Request');
    })
  }
  else{
    $.get('/linguo/delete_friendInvitation',{'receiver':receiver}, function(data){
      $t.attr('class', 'addBtn btn btn-primary btn-block');
      $t.text('Add');
    })
    
  }
});

$("#searchBtn").click(function(){
    var language = [];
    var interest = [];

    $(".language").each(function(){
      
      if ($(this).is(":checked") == false) {
        language.push($(this).attr("name"))
      };
    })

    $(".interest").each(function(){
      if ($(this).is(":checked") == false) {
        interest.push($(this).attr("name"))
      }
      
    })

    // alert(language);
    var url = "/linguo/search?language="+language+"&interest="+interest;
    window.location = url;
});


//select linguist to talk to
$(".list-group-item").click(function(){
  $(".talker").attr("class", "list-group-item");
  $(this).attr("class", "list-group-item active talker");
  var talker = $(this).attr("name");

  $.get('/linguo/get_message', {'receiver':talker}, function(data){
    // add messages to the content
    $("#messageContent").empty();
    createMessage(data);
    
  })

});

//change NarBar
$(".selectedBar").attr("class", "navBar");
$(".searchBar").attr("class", "selectedBar active");
</script>
{% endblock %}
